$color1: #2D253A;
$color2: #484D6D;
$color3: #FFB832;
$color4: #EA4525;

@import '_mq';

html,
body {
    margin: 0;
    background-color: #fdda5b;
}

.main {
    max-width: 600px;
    margin: auto;

    @include mq(800px) {
        max-width: 800px;
    }

    @include mq(1200px) {
        max-width: 1200px;
    }

    margin-bottom: 48px;
}


.header {
    box-sizing: border-box;
    position: relative;
    // margin: auto;
    padding-left: 0;
    border-bottom: 1px solid #000;
    padding-bottom: 48px;

    h1 {
        font-family: "Playfair Display";
        font-weight: 700;
        font-size: 48px;
        padding-top: 24px;
        margin-top: 0px;
        margin-bottom: 12px;
    }

    a {
        text-decoration: none;
        border-bottom: 1px solid #000;
        display: inline-block;
        color: #000;

        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 0.5;
        }
        // padding-bottom: -2px;
        // line-height: 22px;
    }

    p {
        font-family: "Roboto Condensed";
        font-weight: 300; 
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 12px;
        max-width: 540px;
        display: block;
    }

    @include mq($until: 600px) {
        border: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

a.block {
    border-bottom: 1px solid #000;
    width: 600px;
    position: relative;
    display: block;
    border-collapse: collapse;

    @include mq(800px) {
        width: 800px;
    }

    @include mq(1200px) {
        width: 1200px;
    }

    @include mq($until: 600px) {
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #000;
        border-bottom: 0;
        overflow: hidden;
    }

    color: #000;
    text-decoration: none;
    
    &:hover {
        .block__image {
            opacity: 0.5;
        }
    }
}

.block__image {
    width: 25%;
    transition: opacity 0.15s ease-in-out;
    padding: 0px;
    box-sizing: border-box;
    // min-height: 400px;
    border-right: 1px solid #000;
    background-color: #fff;
    // border-bottom: 1px solid #000;

    img {
        width: 100%;
    }

    @include mq($until: 600px) {
        width: 100%;
        padding: 10px;
        border-right: 0;
    }
}

.block__desc {
    width: 50%;
    top: 0;
    position: absolute;
    left: 25%;

    padding-bottom: 24px;
    
    h2 {
        border-bottom: 1px solid #000;
        display: inline;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        font-family: "Roboto Condensed";
        font-weight: 300; 
        font-size: 24px;
        line-height: 38px;
        padding-left: 15px;
        // padding-right: 15px;
        padding-bottom: 4px;
        margin-bottom: 12px;

        &::after {
            // display: inline-block;
            // width: 100%;
            // content: 'a';
            // text-align: right;
            // float: left;
        }

        @include mq($until: 600px) {
            padding-left: 10px;
        }
    }  
    
    @include mq($until: 800px) {
        // position: initial;
        width: 75%;
    }

    @include mq($until: 600px) {
        position: initial;
        width: 100%;
    }

    p {
        font-family: "Roboto Condensed";
        color: #767676;
        font-size: 16px;
        line-height: 24px;
        margin-left: 15px;
    }
}