$blue: #1b3a97;
$bg: #f4f4f4;

@import '_mq';

body, html {
    margin: 0;
    padding: 0;
    background-color: $bg;
}

.main {
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
    position: relative;

    h1 {
        margin: 0;
    }
    
    span {
        color: $blue;
    }

    a {
        color: $blue;
        text-decoration: none;
        
        &:hover {
            border-bottom: 1px solid $blue;
        }
    }
}

.main__left {
    h1 {
        font-size: 32px;
        line-height: 1.25;
        font-family: "Playfair Display", Arial;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    p {
        font-family: "Open Sans", "Arial";
        color: #333;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 20px;
    }
}

.main__block {
    margin-bottom: 40px;
    border: 1px solid darken($bg, 10%);
    // padding-top: 10px;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;

    h2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    &:hover {
        transform: scale(1.02);
        a {
            border: 0;
        }
    }
}

.main__right {
    &::before {
        content: 'Selected work';
        font-size: 24px;
        line-height: 1.25;
        font-family: "Playfair Display", "Arial";
        color: $blue;
        font-weight: bold;
        display: block;
        padding-bottom: 20px;
    }

    margin-top: 40px;
    img {
        // display: none;
        width: 100%;
        // border-top: 1px solid darken($bg, 10%);
    }
    h2 {
        font-size: 16px;
        line-height: 24px;
        font-family: "Open Sans", "Arial";
        color: #333;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
        
        &::before {
            // content: '• ';
            font-weight: bold;
            color: $blue;
            margin-right: 5px;
            display: inline-block;
            transition: margin-right 0.1s ease-out;
            // transform: scale(0.9);
        }

    }
    a {
        text-decoration: none;
        display: block;
        transition: transform 0.2s ease-in-out;
    }
}